// bower:scss
// endbower

body {
    background: url('../images/desk-texture.jpg') no-repeat center center fixed;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-size: cover;
}

.note-container {
    position: relative;
    
    img {
    width: 472px;
    height: 758px;
    position: absolute;
    }

    div {
        width: 400px;
        height: 609px;
        /*background-color: blue;*/
        position: absolute;
        margin-top: 149px;
        margin-left: 72px;
        line-height: 28px;

    }
}



