// bower:scss
// endbower

body {
    background: url('../images/desk-texture.jpg') no-repeat center center fixed;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-size: cover;
    overflow: scroll;
}
.add-task {
    position: absolute;
    margin-top: 133px;
    margin-left: 39px;
}
.new-todo {
    position: absolute;
    margin-top: 132px;
    margin-left: 75px;
}
.note-container {
    position: relative;
    width: 474px;
    
    img {
    width: 472px;
    height: 758px;
    position: absolute;
    }

    .notes {
        width: 400px;
        height: 609px;
        position: absolute;
        margin-top: 149px;
        margin-left: 72px;
        line-height: 28px;
        /*background-color: blue;*/

    }
}
.button-container {
    display: inline-block;
    /*position: absolute;*/
}

.button {
    float: right;
    display: inline-block;
    background: url('../images/eraser-small.png') no-repeat center center ;
    width: 60px;
    height: 24px;
    font-family: 'Cookie', Helvetica, sans-serif;
    font-color: black;
    text-align: center;
    font-size: 22px;
    margin: 2px;
}

.notes {
    display: inline-block;
}




